@tailwind base;
@tailwind components;
@tailwind utilities;
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
@layer components {
  .filter-child {
    @apply px-6 py-4 rounded-lg cursor-pointer;
  }
}
h1 {
  font-size: 44px;
}
ul LI {
  padding-bottom: 24px;
}
ul div {
  width: 100%;
}
ul div:hover {
  border-bottom: 1px solid #0a8bec;
}
td {
  cursor: pointer;
  padding: 0;
}
/* td div {
  margin-bottom: 12px;
} */
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
}
